<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}| Django Ecom
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body class="bg-gray-100">
    <header>
      {% include 'includes/navbar.html' %}
    </header>

    <main class="max-w-4xl xl:max-w-5xl mx-auto px-5 py-2.5 lg:border-none lg:py-4">
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>
